html {
    font-size: 16px;
}

body,html {
    font-family: sans-serif;
    background-color: rgb(224, 216, 216);
}

button {
    border-radius: 16px;
    border-color: navajowhite;
}

.color-0 {
    color: black;
}

.color-1 {
    color: green;
}

.color-2 {
    color: red;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
